@namespace BlazorWizardDemo.Example
<h4>Select Rental Car</h4>
<Field Label="Select car type">
    @foreach (var car in RentalModel.GetCars())
    {
        var selected = car.Name == Model.CarType;
        var css = selected ? "selected" : "";
        <div class="media p-3 @css">
            <img alt="@car.Name" src="@car.Image" class="car-thumbnail mr-3" />
            <div class="media-body">
                <h5 class="mt-0">@car.Name</h5>
                @if (!selected)
                {
                    <button class="btn btn-sm btn-primary"
                            @onclick="@(()=> Model.CarType = car.Name)">
                        Select
                    </button>
                }
                else
                {
                    <b><i>Selected</i></b>
                }
            </div>
        </div>
    }
</Field>
<Field Label="Child Seats">
    <label>
        <input type="checkbox" @bind="@Model.ChildSeatsRequired" />
        I need a child car seat
    </label>
</Field>
@code
{
    [Parameter] public RentalModel Model { get; set; }

}